*{margin:0; padding:0;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, input, textarea {font-family: Arial, Helvetica, sans-serif; overflow-X:hidden;}
a {color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
ul, li {list-style:none; margin:0;} fieldset {border:0;} textarea {resize:none;}
h1,h2,h3,h4,span,li{margin:0; color:#fff;}
h1{font-size:35px;}
h2{font-size:25px;}
h3{font-size:21px;}
h4{font-size:18px;}
span{font-size:15px;}
li{font-size:18px;}
.bold{font-weight:bold;}
.light{font-weight:lighter;}
#wrapper_body{min-height:100vh; display:flex; flex-direction:column;}
#wrapper_components{flex-grow:1;}

.indent{width:90%; max-width:1600px; margin:0 auto;}

#wrap_header{width:100%; position:relative; background:#000;}
#wrap_header .indent{padding:30px 0; display:flex; justify-content:space-between; align-items:center;}
#wrap_header .indent .logo{}
#wrap_header .indent .logo h2{}
/*#wrap_header .indent .hamburguer{cursor:pointer; width:30px; height:20px; display:flex; flex-direction:column; justify-content:space-between;}
#wrap_header .indent .hamburguer .risco{width:100%; height:3px; background:#fff; transition:all .5s ease;}
#wrap_header .indent .hamburguer.active .risco{transform:translateX(200px);}
#wrap_header .indent .hamburguer .risco.risco1{transition-delay:0.9s;}
#wrap_header .indent .hamburguer .risco.risco2{transition-delay:0.8s;}
#wrap_header .indent .hamburguer .risco.risco3{transition-delay:0.7s;}
#wrap_header .indent .hamburguer.active .risco.risco1{transition-delay:0s;}
#wrap_header .indent .hamburguer.active .risco.risco2{transition-delay:0.1s;}
#wrap_header .indent .hamburguer.active .risco.risco3{transition-delay:0.2s;}*/
#wrap_header .indent .pokeball {width: 50px; height: 50px; background: #b71c1c; border-radius: 50%; box-shadow: inset 0 -36px 0 -18px #fff, inset 0 -38px 0 -17px #000, 0 0 0 3px #000; position:absolute; top:20px; right:5%; transition:all 1s ease .7s; cursor:pointer;}
#wrap_header .indent .pokeball.active{right:-5%; transform:rotate(360deg); transition:all 1s ease}
#wrap_header .indent .pokeball:before{transition:all .4s ease; content: ""; position: absolute; height: 5px; width: 5px; border-radius: 50%; background: #fff; top: 27px; left: 22.5px; border: 1px solid rgba(0,0,0,.4); box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #fff, 0 0 0 8px #000;}
#wrap_header .indent .pokeball:after{display: block; content: ""; position: absolute; width: 100%; height:100%; border-radius: 50%; box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);}
#wrap_header .indent .menu{transition:all 1s ease .5s; box-shadow: -2px 0px 16px -1px red; right: -100%; top:0; position:fixed; background:red; padding: 20px; width:400px; height:100vh; z-index:9;}
#wrap_header .indent .menu.active{right:0; top:0; transition:all 1s ease .1s;}
#wrap_header .indent .menu ul{display:flex; flex-direction:column; padding-top:40px}
#wrap_header .indent .menu ul li{margin:15px 0; cursor:pointer;}
#wrap_header .indent .menu .fechar{cursor:pointer; width:30px; height:30px; position:absolute; right: -200px; top: 30px; transition: all 1.5s ease; display:flex; align-items:center;}
#wrap_header .indent .menu .fechar.active{right: 80px; transform:rotate(-1080deg); transition:all 1.5s ease .5s;}
#wrap_header .indent .menu .fechar .risco{width:100%; height:3px; background:#fff; position:absolute;}
#wrap_header .indent .menu .fechar .risco.risco1{transform:rotate(45deg);}
#wrap_header .indent .menu .fechar .risco.risco2{transform:rotate(135deg);}
#wrap_header .indent .pokeball:hover:before{background: #000; box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #b71c1c, 0 0 0 8px #000;}

#wrap_pokemons{width:100%; position:relative; margin-top:50px;}
#wrap_pokemons .indent{display:grid; grid-template-columns: repeat(auto-fit, minmax(30%, 30%)); grid-gap: 3%;}
#wrap_pokemons .indent .item{position:relative; overflow:hidden; width:100%; height:500px; box-shadow: 0 0 10px #c0c0c0; display:flex; flex-direction:column; align-items:center; justify-content:center;}
#wrap_pokemons .indent .item img.fundo{width:95%; animation: rotate 6s infinite; opacity:0.5}
@keyframes rotate{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg);}
}
#wrap_pokemons .indent .item img.pokemon{position:absolute; top:20px; left:50%; transform:translate(-50%, 0%); width:100%;}
#wrap_pokemons .indent .item .nome{position:absolute; bottom:20%}
#wrap_pokemons .indent .item .nome h2{color:#000;}
#wrap_pokemons .indent .item .tipo{position:absolute; bottom: 10%; display:flex;}
#wrap_pokemons .indent .item .tipo .tip{padding:10px; margin:0 5px; background:#000; border-radius:10px;}
#wrap_pokemons .indent .item .tipo .tip h4{}


#wrap_footer{width:100%; position:relative; background:#000; margin-top:50px;}
#wrap_footer .indent{display:flex; align-items:center; justify-content:center; padding:20px 0;}
#wrap_footer .indent .texto{text-align:center;}