*{margin:0; padding:0;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
body, input, textarea {background:#f5f5f5; font-family: Arial, Helvetica, sans-serif; overflow-X:hidden;}
a {color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
ul, li {list-style:none; margin:0;} fieldset {border:0;} textarea {resize:none;}
h1,h2,h3,h4,span,li{margin:0; color:#fff;}
h1{font-size:35px;}
h2{font-size:25px;}
h3{font-size:21px;}
h4{font-size:18px;}
span{font-size:15px;}
li{font-size:18px;}
.bold{font-weight:bold;}
.light{font-weight:lighter;}
#wrapper_body{min-height:100vh; display:flex; flex-direction:column;}
#wrapper_components{flex-grow:1;}

.indent{width:90%; max-width:1600px; margin:0 auto;}

#wrap_header{width:100%; position:relative; background:#000; z-index:99;}
#wrap_header .indent{padding:30px 0; display:flex; justify-content:space-between; align-items:center;}
#wrap_header .indent .logo{}
#wrap_header .indent .logo h2{}
#wrap_header .indent .pokeball {width: 50px; height: 50px; background: #b71c1c; border-radius: 50%; box-shadow: inset 0 -36px 0 -18px #fff, inset 0 -38px 0 -17px #000, 0 0 0 3px #000; position:absolute; top:20px; right:5%; transition:all 1s ease .7s; cursor:pointer;}
#wrap_header .indent .pokeball.active{right:-5%; transform:rotate(360deg); transition:all 1s ease}
#wrap_header .indent .pokeball:before{transition:all .4s ease; content: ""; position: absolute; height: 5px; width: 5px; border-radius: 50%; background: #fff; top: 27px; left: 22.5px; border: 1px solid rgba(0,0,0,.4); box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #fff, 0 0 0 8px #000;}
#wrap_header .indent .pokeball:after{display: block; content: ""; position: absolute; width: 100%; height:100%; border-radius: 50%; box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);}
#wrap_header .indent .menu{transition:all 1s ease .5s; box-shadow: -2px 0px 16px -1px red; right: -100%; top:0; position:fixed; background:red; padding: 20px; width:400px; height:100vh; z-index:9;}
#wrap_header .indent .menu.active{right:0; top:0; transition:all 1s ease .1s;}
#wrap_header .indent .menu ul{display:flex; flex-direction:column; padding-top:40px}
#wrap_header .indent .menu ul li{margin:15px 0; cursor:pointer;}
#wrap_header .indent .menu .fechar{cursor:pointer; width:30px; height:30px; position:absolute; right: -200px; top: 30px; transition: all 1.5s ease; display:flex; align-items:center;}
#wrap_header .indent .menu .fechar.active{right: 80px; transform:rotate(-1080deg); transition:all 1.5s ease .5s;}
#wrap_header .indent .menu .fechar .risco{width:100%; height:3px; background:#fff; position:absolute;}
#wrap_header .indent .menu .fechar .risco.risco1{transform:rotate(45deg);}
#wrap_header .indent .menu .fechar .risco.risco2{transform:rotate(135deg);}
#wrap_header .indent .pokeball:hover:before{background: #000; box-shadow: 2px 0 0 0 rgba(0,0,0,0.2), 0 0 0 5px #b71c1c, 0 0 0 8px #000;}

#wrap_banner{width:100%; position:relative;}
#wrap_banner .item{background:red;  height:500px;}

#wrap_pokemons{width:100%; position:relative; margin-top:50px;}
#wrap_pokemons .indent{display:grid; grid-template-columns: repeat(auto-fit, minmax(30%, 30%)); grid-gap: 40px 3%;}
#wrap_pokemons .indent .item{transition:all .4s ease; background:#f2f2f2; position:relative; overflow:hidden; width:100%; padding:20px; box-shadow: 0 0 10px #c0c0c0; display:flex; flex-direction:column; align-items:center; justify-content:center;}
#wrap_pokemons .indent .item:hover{transform:translateY(-3%); box-shadow:0 0 10px #666; }
#wrap_pokemons .indent .item img.fundo{position:absolute; z-index:1; top:50%; margin-top:-45%; left:50%; margin-left: -45%; width:90%; animation: rotate 6s linear infinite; opacity:0.5}
@keyframes rotate{
	0%{transform:rotate(0);}
	100%{transform:rotate(360deg)}
}
#wrap_pokemons .indent .item:nth-child(even) img.fundo{animation: anti-rotate 6s linear infinite;}
@keyframes anti-rotate{
	0%{transform:rotate(0);}
	100%{transform:rotate(-360deg)}
}
#wrap_pokemons .indent .item .imagem{width:100%; position:relative; z-index:9;}
#wrap_pokemons .indent .item img.pokemon{width:100%;}
#wrap_pokemons .indent .item .nome{margin:10px 0 20px 0; position:relative; z-index:9;}
#wrap_pokemons .indent .item .nome h2{color:#000;}
#wrap_pokemons .indent .item .tipo{display:flex; position:relative; z-index:9;}
#wrap_pokemons .indent .item .tipo .tip{padding:10px; margin:0 5px; background:#000; border-radius:10px;}
#wrap_pokemons .indent .item .tipo .tip h4{}
#wrap_pokemons .indent .item .tipo .tip.grass{background:#9bcc50;}
#wrap_pokemons .indent .item .tipo .tip.water{background:#4592c4;}
#wrap_pokemons .indent .item .tipo .tip.fire{background:#fd7d24;}
#wrap_pokemons .indent .item .tipo .tip.electric{background:#eed535;}
#wrap_pokemons .indent .item .tipo .tip.poison{background:#b97fc9;}
#wrap_pokemons .indent .item .tipo .tip.bug{background:#729f3f;}
#wrap_pokemons .indent .item .tipo .tip.flying{background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);}
#wrap_pokemons .indent .item .tipo .tip.normal{background:#a4acaf;}
#wrap_pokemons .indent .item .tipo .tip.ground{background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);}
#wrap_pokemons .indent .item .tipo .tip.fairy{background:#fdb9e9;}
#wrap_pokemons .indent .item .tipo .tip.fighting{background:#d56723;}
#wrap_pokemons .indent .item .tipo .tip.psychic{background:#f366b9;}
#wrap_pokemons .indent .item .tipo .tip.rock{background:#a38c21;}
#wrap_pokemons .indent .item .tipo .tip.ice{background:#51c4e7;}
#wrap_pokemons .indent .item .tipo .tip.ghost{background:#7b62a3;}
#wrap_pokemons .indent .item .tipo .tip.dragon{background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);}
#wrap_pokemons .indent .item:after{top:0; left:0; content:''; position:absolute; width:0; height:0; box-sizing: inherit; border:2px solid transparent;}
#wrap_pokemons .indent .item:hover:after{width:100%; height:100%; border-top-color: #999; border-right-color: #999; transition: width .25s ease-out, height .25s ease-out .25s;}
#wrap_pokemons .indent .item:before{bottom:0; right:0; content:''; position:absolute; width:0; height:0; box-sizing: inherit; border:2px solid transparent;}
#wrap_pokemons .indent .item:hover:before{width:100%; height:100%; border-bottom-color: #999; border-left-color: #999; transition: width .25s ease-out, height .25s ease-out .25s;}

#wrap_footer{width:100%; position:relative; background:#000; margin-top:50px; box-shadow:0 0 5px #000;}
#wrap_footer .indent{display:flex; align-items:center; justify-content:center; padding:20px 0;}
#wrap_footer .indent .texto{text-align:center;}


#wrap_formulario{width:100%; position:relative;}
#wrap_formulario .indent{display:flex; flex-direction:column; padding:30px 0;}
#wrap_formulario .indent .titulo{margin:0 0 40px 0;}
#wrap_formulario .indent .titulo h1{color:#000;}
#wrap_tabela{width:100%; display:flex; flex-direction:column; border:0; border-radius:10px;}
#wrap_tabela .head{width:100%; padding:13px 20px; background:#435D7D; display:flex; justify-content:space-between; align-items:center; border-top-left-radius:15px; border-top-right-radius:15px;}
#wrap_tabela .head .titulo{margin:0;}
#wrap_tabela .head .titulo h3{color:#fff;}
#wrap_tabela .head .botoes{display:flex; align-items:center; justify-content:space-between;}
#wrap_tabela .head .botoes button{cursor:pointer; background:#5CB85C; color:#fff; font-size:16px; border:0; outline:0; border-radius:5px; padding:10px 20px; display:flex; align-items:center; justify-content:center;}
#wrap_tabela .conteudo{width:100%; display:flex; flex-direction:column;}
#wrap_tabela .conteudo .row{background:#fff; transition:all .3s ease; width:100%; padding:15px 20px;  display:flex; justify-content:space-between; border-bottom:1px solid #c0c0c0;}
#wrap_tabela .conteudo .row:hover{background:#DAE8D1;}
#wrap_tabela .conteudo .row:nth-last-child(1){border-bottom:0; border-bottom-left-radius:15px; border-bottom-right-radius:15px;}
#wrap_tabela .conteudo .row .item{width:inherit; padding-bottom:15px; display:flex; align-items:center; justify-content:space-between; font-size:15px; color:#566787}
#wrap_tabela .conteudo .row.thead .item{font-weight:bold;}
